# üìå Extrac√£o

In [1]:
# Importa√ß√£o das bibliotecas

import pandas as pd
import numpy as np
import seaborn as sns

import requests
import json

In [2]:
# Request e transforma√ß√£o dos dados

try:
    url = 'https://raw.githubusercontent.com/brunorm86/challenge2-data-science/refs/heads/main/TelecomX_Data.json'

    json_data = requests.get(url).json()

# Caso n√£o consiga ler os dados pela url, l√™ sua c√≥pia offline
except:
    with open('data/TelecomX_Data.json', 'r') as file:
        json_data = json.load(file)

In [3]:
json_data[0]

{'customerID': '0002-ORFBO',
 'Churn': 'No',
 'customer': {'gender': 'Female',
  'SeniorCitizen': 0,
  'Partner': 'Yes',
  'Dependents': 'Yes',
  'tenure': 9},
 'phone': {'PhoneService': 'Yes', 'MultipleLines': 'No'},
 'internet': {'InternetService': 'DSL',
  'OnlineSecurity': 'No',
  'OnlineBackup': 'Yes',
  'DeviceProtection': 'No',
  'TechSupport': 'Yes',
  'StreamingTV': 'Yes',
  'StreamingMovies': 'No'},
 'account': {'Contract': 'One year',
  'PaperlessBilling': 'Yes',
  'PaymentMethod': 'Mailed check',
  'Charges': {'Monthly': 65.6, 'Total': '593.3'}}}

In [4]:
# Dados "aninhados" no json

# üîß Transforma√ß√£o

#### Extra√ß√£o de Dados

Desaninhamento dos dados

In [5]:
'''
customer = pd.json_normalize(df_raw['customer'])

phone = pd.json_normalize(df_raw['phone'])

internet = pd.json_normalize(df_raw['internet'])

account = pd.json_normalize(df_raw['account'])
'''

# desaninhando os dados com .json_normalize()

df = pd.json_normalize(json_data)

df.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

#### Conhecendo os Dados

In [6]:
df.shape

(7267, 21)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

Padronizar os valores das colunas e transformar os tipos de dados para mais apropriados

In [8]:
df['Churn'].unique()

array(['No', 'Yes', ''], dtype=object)

In [9]:
df['Churn'] = df['Churn'].map({'No': 'No', 'Yes':'Yes', '': None})

In [10]:
df['customer.SeniorCitizen'].unique()

array([0, 1])

In [11]:
df['customer.SeniorCitizen'] = df['customer.SeniorCitizen'].map({1: 'Yes', 0: 'No'})

In [12]:
df['customer.Partner'].unique()

array(['Yes', 'No'], dtype=object)

In [13]:
df['customer.Dependents'].unique()

array(['Yes', 'No'], dtype=object)

In [14]:
df['phone.PhoneService'].unique()

array(['Yes', 'No'], dtype=object)

In [15]:
df['phone.MultipleLines'].unique()

array(['No', 'Yes', 'No phone service'], dtype=object)

In [16]:
df['internet.InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [17]:
df['internet.OnlineSecurity'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [18]:
df['internet.OnlineBackup'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [19]:
df['internet.DeviceProtection'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [20]:
df['internet.TechSupport'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [21]:
df['internet.StreamingTV'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [22]:
df['internet.StreamingMovies'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [23]:
df['account.Contract'].unique()

array(['One year', 'Month-to-month', 'Two year'], dtype=object)

In [24]:
df['account.PaperlessBilling'].unique()

array(['Yes', 'No'], dtype=object)

In [25]:
df['account.PaymentMethod'].unique()

array(['Mailed check', 'Electronic check', 'Credit card (automatic)',
       'Bank transfer (automatic)'], dtype=object)

In [26]:
df['account.Charges.Total'] = df['account.Charges.Total'].str.strip()

df['account.Charges.Total'] = df['account.Charges.Total'].replace('', np.nan)

In [27]:
df['account.Charges.Total'] = df['account.Charges.Total'].astype(float)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7043 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   object
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7256 non-null   float64
dtypes: float64(2), int64(1), object(18)
memory usage: 1.2+ MB

In [29]:
df.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,No,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30
1,0003-MKNFE,No,Male,No,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40
2,0004-TLHLJ,Yes,Male,No,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,Yes,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,Yes,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40

Por fim, antes do in√≠cio da an√°lise dos dados propriamente dita, salvaremos em formato .csv os arquivos tratados at√© o momento, para seguran√ßa.

In [30]:
df.to_csv('data/TelecomX_Data_Tratados.csv', index=False, sep=';')

# üìä Carga e an√°lise

#### Sobre os dados faltantes em "Churn"

Fazendo o describe com os dados faltantes, percebemos que as m√©dias das vari√°veis num√©ricas s√£o muito pr√≥ximas daquelas de todo o df, sobretudo de "tenure", o que comprova que n√£o esta aus√™ncia n√£o √© relativa a clientes novos, nos quais ainda n√£o foi gerada cobran√ßas, mas sim a falhas na coleta de dados.

In [31]:
# describe apenas das linhas onde Churn √© None

df[df['Churn'].isna()].describe()

       customer.tenure  account.Charges.Monthly  account.Charges.Total
count       224.000000               224.000000             224.000000
mean         31.571429                63.412277            2196.933705
std          24.998552                31.388712            2329.961954
min           1.000000                18.750000              18.900000
25%           7.000000                28.425000             351.037500
50%          29.000000                69.100000            1163.175000
75%          56.000000                90.412500            3562.862500
max          72.000000               115.550000            8425.300000

#üìÑRelatorio Final

In [32]:
# Describe dos Dataset completo
df.describe()

       customer.tenure  account.Charges.Monthly  account.Charges.Total
count      7267.000000              7267.000000            7256.000000
mean         32.346498                64.720098            2280.634213
std          24.571773                30.129572            2268.632997
min           0.000000                18.250000              18.800000
25%           9.000000                35.425000             400.225000
50%          29.000000                70.300000            1391.000000
75%          55.000000                89.875000            3785.300000
max          72.000000               118.750000            8684.800000

Importante salientar, que em todos os clientes que possuem "tenure" como 0, ou seja, clientes novos, o valor de account.Charge.Total est√° vazio. Dessa forma, para preencher esses dados faltantes, nestas linhas o valor ser√° igual ao pago mensalmente. Vale dizer que apenas nestas linhas h√° falta de Charge.Total (mesmos id's)

In [33]:
print(df.query('`customer.tenure` == 0').equals(df[df['account.Charges.Total'].isna()]))

True

In [34]:
df['account.Charges.Total'] = df['account.Charges.Total'].fillna(df['account.Charges.Monthly'])

In [35]:
df.query('`customer.tenure` == 0')

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
975,1371-DWPAZ,No,Female,No,Yes,Yes,0,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,56.05
1775,2520-SGTTA,No,Female,No,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,20.00
1955,2775-SEFEE,No,Male,No,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,61.90
2075,2923-ARZLG,No,Male,No,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,19.70
2232,3115-CZMZD,No,Male,No,No,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,20.25
2308,3213-VVOLG,No,Male,No,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,25.35
2930,4075-WKNIU,No,Female,No,Yes,Yes,0,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,73.35
3134,4367-NUYAO,No,Male,No,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,25.75
3203,4472-LVYGI,No,Female,No,Yes,Yes,0,No,No phone service,DSL,...,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,52.55
4169,5709-LVOEQ,No,Female,No,Yes,Yes,0,Yes,No,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,80.85
5599,7644-OMVMY,No,Male,No,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,19.85